*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgrey;
}
.maindiv{
    height:500px;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 100px;
    border: 2px solid blue;
    border-radius: 10px;
    border-top: none;
}
.firstdiv{
    height: 180px;
    width: 97%;
    /* background-color: rgb(194, 225, 225); */
    margin: auto;
    border-bottom: 6px double rgb(16, 170, 179);
    border-radius: 15px;
}
.firstdiv p{
    padding-top: 60px;
}
#para1{
    margin-left: 50px;
}
.seconddiv{
    height: 230px;
    width: 97%;
    margin: auto;
    /* background-color: lightgray; */
    margin-top: 20px;
    border: 3px dashed brown;
    outline: 3px solid grey;
    outline-offset: 5px;
}
.subdiv1{
    height: 60px;
    width: 95%;
    margin: auto;
    border: 1px solid grey;
    margin-top: 40px;
}
h3{
    margin-left: 10px;
}